*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    transition: 0.3s ease;
    color: white;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 135px 42px;
    min-height: 100vh;
    background-image: linear-gradient(220deg,#bb69d2,#6655ff);
}

h1{
    font-size: 26px;
   /* border-bottom: 1px solid black;*/
    width: 100%;
    text-align: center;
    /*box-shadow: 4px 4px 6px rgba(0,0,0,0.4);*/
    padding: 8px 12px;
    font-weight: bolder;
    text-transform: capitalize;
    font-style: italic;
    color: ;
}

.preview{
     width: 280px;
     border-radius: 28px;
     overflow: hidden;
     margin: 45px 0px;
     box-shadow: 3px 3px 8px 2px rgba(0,0,0,.4);
     background-color: white;
}

.preview img{
    width: 100%;
    height: 100%;
}

#main-btn{
    border: none;
    padding: 10px 26px;
    font-size: 18px;
    background-color: #ff5e00;
    color: white;
    border-radius: 2px;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.4);
}

#main-btn:hover{
    background-color: black;
}

#secondary-btn{
    border:none; padding: 6px 14px; background-color: transparent;border:1px solid white; font-size:16px;width:100%; margin-top:8px;
}

nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 8px;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.4);
    position: fixed;
}

ul{
    list-style: none;
}

ul li{
    display: inline-block;
    padding: 6px 12px;
    font-size: 15px;
    font-weight: 500;
}

footer{
    margin-top: 180px;
    border-top: 1.5px solid white;
    padding: 4px;
    width: 100%;
}

footer p{
    text-align: center;
    font-size: 12px;
}
